root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# generated font header, stored as UTF-16 LE
[src/Spammy/Window/Detail/ImFont_ComicSans.h]
charset = utf-16le
